In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
data_1 = pd.read_csv('/content/drive/MyDrive/diplom/data_full.tsv', sep="\t")

In [ ]:
data_1

,id,comp,question,clean,pos,lemma
0,1204,0,'how old is megan prince harry''s wife',how old is megan prince harry s wife,"['WRB', 'JJ', 'VBZ', 'NNP', 'NN', 'NNP', 'POS'...","['how', 'old', 'be', 'megan', 'prince', 'harry..."
1,37276,0,what are insurance requirements for florida dr...,what are insurance requirements for florida dr...,"['WP', 'VBP', 'NN', 'NNS', 'IN', 'NNP', 'NNS']","['what', 'be', 'insurance', 'requirement', 'fo..."
2,29669,0,What is the expected cutoff for the KVPY 2016?,what is the expected cutoff for the kvpy 2016,"['WP', 'VBZ', 'DT', 'VBN', 'NN', 'IN', 'DT', '...","['what', 'be', 'the', 'expect', 'cutoff', 'for..."
3,18503,1,what is the difference between a goal and an o...,what is the difference between a goal and an o...,"['WP', 'VBZ', 'DT', 'NN', 'IN', 'DT', 'NN', 'C...","['what', 'be', 'the', 'difference', 'between',..."
4,30758,0,Which laptop under INR 60K is slim sleek and g...,which laptop under inr 60k is slim sleek and g...,"['WDT', 'NN', 'IN', 'NN', 'CD', 'NN', 'VBZ', '...","['which', 'laptop', 'under', 'inr', '60', 'k',..."
...,...,...,...,...,...,...
31237,22225,1,What are the best areas to invest in real esta...,what are the best areas to invest in real esta...,"['WP', 'VBP', 'DT', 'JJS', 'NNS', 'TO', 'VB', ...","['what', 'be', 'the', 'best', 'area', 'to', 'i..."
31238,8091,0,who is the writer of the book the constitution...,who is the writer of the book the constitution...,"['WP', 'VBZ', 'DT', 'NN', 'IN', 'DT', 'NN', 'D...","['who', 'be', 'the', 'writer', 'of', 'the', 'b..."
31239,14805,0,is it legal to be prescribed medical marijuana...,is it legal to be prescribed medical marijuana...,"['VBZ', 'PRP', 'JJ', 'TO', 'VB', 'VBN', 'JJ', ...","['be', 'it', 'legal', 'to', 'be', 'prescribe',..."
31240,1116,0,when does costa rica play in world cup,when does costa rica play in world cup,"['WRB', 'VBZ', 'NNP', 'NNP', 'VB', 'IN', 'NN',...","['when', 'do', 'costa', 'rica', 'play', 'in', ..."
31241,21043,0,how long for bermuda seed to germinate,how long for bermuda seed to germinate,"['WRB', 'RB', 'IN', 'NN', 'NN', 'TO', 'VB']","['how', 'long', 'for', 'bermuda', 'seed', 'to'..."

In [ ]:
data1 = data_1.drop(columns = ['id', 'clean', 'pos', 'lemma'], axis = 1)
data1 = data1[['question', 'comp']]
data1.rename(columns = {'question':'sentence', 'comp':'label'}, inplace = True)
data1.insert(1, 'lang', 'en')
data1.insert(3, 'dataset', 'data_full.tsv')
data1.head()

,sentence,lang,label,dataset
0,'how old is megan prince harry''s wife',en,0,data_full.tsv
1,what are insurance requirements for florida dr...,en,0,data_full.tsv
2,What is the expected cutoff for the KVPY 2016?,en,0,data_full.tsv
3,what is the difference between a goal and an o...,en,1,data_full.tsv
4,Which laptop under INR 60K is slim sleek and g...,en,0,data_full.tsv

In [ ]:
data_2 = pd.read_csv('/content/drive/MyDrive/diplom/english-questions.tsv', sep="\t")

In [ ]:
data_2.head(100)

,difficulty,preference,context,aspect,direct,opinion,argument,reason,method,factoid,super,comp,question,dataset
0,0,0,0,0,0,0,0,0,0,0,0,0,do male seahorses give birth to the babies,g
1,0,0,0,0,0,0,0,0,0,0,0,0,who sings the vocals on feel it still,g
2,0,0,0,0,0,0,0,0,0,0,0,0,how did the guy from hogan's heroes die,g
3,0,0,0,0,0,0,0,0,0,0,0,0,which state was returned to spain after the re...,g
4,0,0,0,0,0,0,0,0,0,0,0,0,do you need a background check to buy a shotgu...,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,1,0,1,0,0,0,0,0,1,1,1,what is the busiest hurricane season on record,g
96,0,0,0,0,0,0,0,0,0,0,0,0,who does maura tierney play in beautiful boy,g
97,0,0,0,0,0,0,0,0,0,0,0,0,who was best known for his involved in the red...,g
98,0,0,0,0,0,0,0,0,0,0,0,0,what do the names nina pinta and santa maria mean,g
99,0,0,0,0,0,0,0,0,0,0,0,0,where did they film harry potter and the priso...,g

In [ ]:
data2 = data_2.drop(data_2.columns[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13]], axis = 1)
data2 = data2[['question', 'comp']]
data2.rename(columns = {'question':'sentence', 'comp':'label'}, inplace = True)
data2.insert(1, 'lang', 'en')
data2.insert(3, 'dataset', 'english-questions.tsv')
data2.head()

,sentence,lang,label,dataset
0,do male seahorses give birth to the babies,en,0,english-questions.tsv
1,who sings the vocals on feel it still,en,0,english-questions.tsv
2,how did the guy from hogan's heroes die,en,0,english-questions.tsv
3,which state was returned to spain after the re...,en,0,english-questions.tsv
4,do you need a background check to buy a shotgu...,en,0,english-questions.tsv

In [ ]:
data_3 = pd.read_csv('/content/drive/MyDrive/diplom/predictions.tsv', sep="\t")
data_3

      0.989948  0.0100516              чем хэтчбек отличается от универсала?
0     0.118271   0.881729          какие гардины лучше для натяжного потолка
1     0.990862   0.009138                  чем отличается лейомиома от миомы
2     0.991606   0.008394          какой принтер лучше лазерный или струйный
3     0.062196   0.937804  какие рыночные структуры в наибольшей степени ...
4     0.765935   0.234065                   каким кормом лучьше кормить кота
...        ...        ...                                                ...
1244  0.694402   0.305598  по каким внешним признакам вы сможете отличить...
1245  0.992150   0.007850                    что лучше качалка или воркаут ?
1246  0.593268   0.406732                кто победил гаго драго или хасиков?
1247  0.991882   0.008118            какую модель  psp прошитую лучше купить
1248  0.990028   0.009972                   чем отличается икона от портрета

[1249 rows x 3 columns]

In [ ]:
data3 = data_3.drop(data_3.columns[[0, 1]], axis = 1)
data3.rename(columns = {'чем хэтчбек отличается от универсала?':'sentence'}, inplace = True)
data3.loc[len(data3)] = ['чем хэтчбек отличается от универсала?']
data3.insert(1, 'lang', 'en')
data3.insert(2, 'label', '1')
data3.insert(3, 'dataset', 'predictions.tsv')
data3.head()

,sentence,lang,label,dataset
0,какие гардины лучше для натяжного потолка,en,1,predictions.tsv
1,чем отличается лейомиома от миомы,en,1,predictions.tsv
2,какой принтер лучше лазерный или струйный,en,1,predictions.tsv
3,какие рыночные структуры в наибольшей степени ...,en,1,predictions.tsv
4,каким кормом лучьше кормить кота,en,1,predictions.tsv

In [ ]:
data_4 = pd.read_csv('/content/drive/MyDrive/diplom/comparative_sentences_translated.tsv', sep="\t")
data_4

    Должен ли я использовать vfat или ext3 для внешнего жесткого диска USB емкостью 1 ТБ?
0        Кто сыграл больше матчей - Роналду или Месси?
1       Что лучше redmi note или redmi note 4g почему?
2                  Что лучше, Netflix или Blockbuster?
3             Какой из них лучше bmw или infinity g35?
4          Кто хуже Дональд Трамп или Хиллари Клинтон?
..                                                 ...
204  Каковы плюсы и минусы скейтборда по сравнению ...
205       Какой штат был первым - Арканзас или Канзас?
206  Каковы слабые стороны Хиллари Клинтон по сравн...
207  У кого больше чемпионатов НБА - на востоке или...
208     Что такое chromebook по сравнению с ноутбуком?

[209 rows x 1 columns]

In [ ]:
data4 = data_4
data4.rename(columns = {'Должен ли я использовать vfat или ext3 для внешнего жесткого диска USB емкостью 1 ТБ?':'sentence'}, inplace = True)
data4.loc[len(data4)] = ['Должен ли я использовать vfat или ext3 для внешнего жесткого диска USB емкостью 1 ТБ?']
data4.insert(1, 'lang', 'ru')
data4.insert(2, 'label', '1')
data4.insert(3, 'dataset', 'comparative_sentences_translated.tsv')
data4.head()

,sentence,lang,label,dataset
0,Кто сыграл больше матчей - Роналду или Месси?,ru,1,comparative_sentences_translated.tsv
1,Что лучше redmi note или redmi note 4g почему?,ru,1,comparative_sentences_translated.tsv
2,"Что лучше, Netflix или Blockbuster?",ru,1,comparative_sentences_translated.tsv
3,Какой из них лучше bmw или infinity g35?,ru,1,comparative_sentences_translated.tsv
4,Кто хуже Дональд Трамп или Хиллари Клинтон?,ru,1,comparative_sentences_translated.tsv

In [ ]:
data_5 = pd.read_csv('/content/drive/MyDrive/diplom/перевод вопросов туше.tsv', sep="\t")
data_5

                В чем разница между сексом и любовью?
0      Что лучше, ноутбук или стационарный компьютер?
1                          Что лучше Кэнон или Никон?
2   Что полезнее: кофе, зеленый чай или черный чай...
3   Каковы преимущества и недостатки PHP по сравне...
4                         Почему Linux лучше Windows?
..                                                ...
66                            Что лучше, рок или рэп?
67     Как вы думаете, воображение лучше, чем знание?
68  Должен ли я изучать Python или R для анализа д...
69              Стоит ли купить Xbox или PlayStation?
70  Какую специальность лучше выбрать: философию и...

[71 rows x 1 columns]

In [ ]:
data5 = data_5
data5.rename(columns = {'В чем разница между сексом и любовью?':'sentence'}, inplace = True)
data5.loc[len(data5)] = ['В чем разница между сексом и любовью?']
data5.insert(1, 'lang', 'ru')
data5.insert(2, 'label', '1')
data5.insert(3, 'dataset', 'перевод вопросов туше.tsv')
data5.head()

,sentence,lang,label,dataset
0,"Что лучше, ноутбук или стационарный компьютер?",ru,1,перевод вопросов туше.tsv
1,Что лучше Кэнон или Никон?,ru,1,перевод вопросов туше.tsv
2,"Что полезнее: кофе, зеленый чай или черный чай...",ru,1,перевод вопросов туше.tsv
3,Каковы преимущества и недостатки PHP по сравне...,ru,1,перевод вопросов туше.tsv
4,Почему Linux лучше Windows?,ru,1,перевод вопросов туше.tsv

In [ ]:
!git clone https://github.com/Pythonimous/Q-A-System

Cloning into 'Q-A-System'...
remote: Enumerating objects: 122, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 122 (delta 1), reused 0 (delta 0), pack-reused 116
Receiving objects: 100% (122/122), 47.99 MiB | 20.50 MiB/s, done.
Resolving deltas: 100% (45/45), done.

In [ ]:
!ls

drive  Q-A-System  sample_data

In [ ]:
with open('Q-A-System/Corpus/Training.txt', 'r', encoding='utf-8') as f:
    for lines in f:
        print(lines)
        break

А что повлияло на такую позицию?	7

In [ ]:
data_6_1 = pd.read_csv('Q-A-System/Corpus/Training.tsv', sep="\t")
data_6_1

FileNotFoundError: ignored

In [ ]:
data_6 = pd.read_csv('/content/drive/MyDrive/diplom/Training.tsv', sep="\t")
data_6

                       А что повлияло на такую позицию?  7
0                    А с младшей дочкой как получилось?  8
1     Вы уже к тому времени достигли многого, у вас ...  2
2          А какие впечатления о беременности, о родах?  8
3               Вы прилагали к этому какие - то усилия?  2
4     Елена, ожидая ребенка, Вы почувствовали какие ...  2
...                                                 ... ..
2080                                   А что, например?  4
2081              И как с человеком, например, спорить?  4
2082  Что может сказать по этому поводу, например, ч...  4
2083                        Приведи пример синего жука.  4
2084                       Каков пример белой обезьяны?  4

[2085 rows x 2 columns]

In [ ]:
data_6.head(76)

                     А что повлияло на такую позицию?  7
0                  А с младшей дочкой как получилось?  8
1   Вы уже к тому времени достигли многого, у вас ...  2
2        А какие впечатления о беременности, о родах?  8
3             Вы прилагали к этому какие - то усилия?  2
4   Елена, ожидая ребенка, Вы почувствовали какие ...  2
..                                                ... ..
71      Лучшие школы России: особый статус необходим?  2
72  Школа полного дня: утопия или осознанная необх...  6
73  Кому, как не маме, объяснить дочери столь дели...  7
74                    Где провести майские праздники?  7
75  Теперь на экзаменах преподаватели будут провер...  2

[76 rows x 2 columns]

In [ ]:
data6 = data_6
data6.rename(columns = {'А что повлияло на такую позицию?':'sentence', '7':'label'}, inplace = True)
data6.loc[len(data6)] = ['А что повлияло на такую позицию?', '7']
data6.loc[(data6['label'] != 5) & (data6['label'] != 6), 'label'] = 0
data6.loc[(data6['label'] == 5) | (data6['label'] == 6), 'label'] = 1
data6.insert(1, 'lang', 'ru')
data6.insert(3, 'dataset', 'Q-A-System/Training.tsv')
data6.head()

,sentence,lang,label,dataset
0,А с младшей дочкой как получилось?,ru,0,Q-A-System/Training.tsv
1,"Вы уже к тому времени достигли многого, у вас ...",ru,0,Q-A-System/Training.tsv
2,"А какие впечатления о беременности, о родах?",ru,0,Q-A-System/Training.tsv
3,Вы прилагали к этому какие - то усилия?,ru,0,Q-A-System/Training.tsv
4,"Елена, ожидая ребенка, Вы почувствовали какие ...",ru,0,Q-A-System/Training.tsv

In [ ]:
data6.loc[257] = ["Или ты не знаешь?", "ru", 0, "Q-A-System/Traning.tsv"]
data6.loc[461] = ["Или - есть ли принципиальная разница между Брелем или Брассансом и нашими людьми?", "ru", 1, "Q-A-System/Traning.tsv"]
data6.loc[486] = ["Как обслуживают продавцы клиентов - например, грубят или не грубят, отпускают товар с разумной скоростью или едва передвигают ноги?", "ru", 1, "Q-A-System/Traning.tsv"]
data6.loc[927] = ["Будет ли таковой реализован в рамках прежней управленческо - административной культуры, либо в русле энергий, оплодотворяющих предметные поля Нового мира?", "ru", 1, "Q-A-System/Traning.tsv"]
data6.loc[928] = ["Обустраивать ли мир для его прежних хозяев либо претендовать в нем так или иначе на роль сюзерена?", "ru", 1, "Q-A-System/Traning.tsv"]
data6.loc[951] = ["Который воюет на поле брани или в гостиных?", "ru", 1, "Q-A-System/Traning.tsv"]
data6.loc[1058] = ["Раскрыли ли мы тайну романа, или его главного героя?", "ru", 1, "Q-A-System/Traning.tsv"]
data6.loc[1153] = ["Объясните пожалуйста в чем разница въезда невесты по иммиграционной визе К1 или по неиммиграционной?", "ru", 1, "Q-A-System/Traning.tsv"]
data6.loc[2033] = ["И подумала: действительно, какая разница?", "ru", 0, "Q-A-System/Traning.tsv"]
data6.loc[2034] = ["Да какая разница?", "ru", 0, "Q-A-System/Traning.tsv"]
data6.loc[2036] = ["А какая разница?", "ru", 0, "Q-A-System/Traning.tsv"]
data6.loc[2044] = ["А в чем разница?", "ru", 0, "Q-A-System/Traning.tsv"]
data6.loc[2049] = ["Не в топ 10 поставлю, а минимум гарантирую первую страницу - разница в чем?", "ru", 0, "Q-A-System/Traning.tsv"]
data6.loc[2056] = ["И чем, по твоему, должны отличаться богоподобные останки?", "ru", 0, "Q-A-System/Traning.tsv"]
data6.loc[2058] = ["Чем отличается деление?", "ru", 0, "Q-A-System/Traning.tsv"]

In [ ]:
data6.head(260)

,sentence,lang,label,dataset
0,А с младшей дочкой как получилось?,ru,0,Q-A-System/Training.tsv
1,"Вы уже к тому времени достигли многого, у вас ...",ru,0,Q-A-System/Training.tsv
2,"А какие впечатления о беременности, о родах?",ru,0,Q-A-System/Training.tsv
3,Вы прилагали к этому какие - то усилия?,ru,0,Q-A-System/Training.tsv
4,"Елена, ожидая ребенка, Вы почувствовали какие ...",ru,0,Q-A-System/Training.tsv
...,...,...,...,...
255,Где Татьяна?,ru,0,Q-A-System/Training.tsv
256,Где?,ru,0,Q-A-System/Training.tsv
257,Или ты не знаешь?,ru,0,Q-A-System/Traning.tsv
258,"Что же теперь делать-то будем, Марина Львовна?",ru,0,Q-A-System/Training.tsv
259,А что делать?,ru,0,Q-A-System/Training.tsv

In [ ]:
data_7 = pd.read_csv('/content/drive/MyDrive/diplom/Test.tsv', sep="\t")
data_7

,Почему же при тестировании винчестера различными утилитами bad'ов почти не обнаруживается?,12
0,Что же такое S. M. A. R. T.?,3
1,И почему стоит о нем знать?,12
2,Что ты хочешь получить от женщин?,7
3,С чем связана моя щедрость?,7
4,Много это или мало?,6
...,...,...
175,Зачем?,11
176,А именно для этой бутылки по какой дороге соби...,8
177,Как вы поддерживаете постоянную температуру?,10
178,"Генри, при чем, скажи на милость, тут совесть?",1
179,"Ради чего, спрашивается, надо устраивать в сад...",11

In [ ]:
data7 = data_7
data7.rename(columns = {"Почему же при тестировании винчестера различными утилитами bad'ов почти не обнаруживается?":'sentence', '12':'label'}, inplace = True)
data7.loc[len(data7)] = ["Почему же при тестировании винчестера различными утилитами bad'ов почти не обнаруживается?", '12']
data7.loc[(data7['label'] != 5) & (data7['label'] != 6), 'label'] = 0
data7.loc[(data7['label'] == 5) | (data7['label'] == 6), 'label'] = 1
data7.insert(1, 'lang', 'ru')
data7.insert(3, 'dataset', 'Q-A-System/Test.tsv')
data7.head()

                            sentence lang label              dataset
0       Что же такое S. M. A. R. T.?   ru     0  Q-A-System/Test.tsv
1        И почему стоит о нем знать?   ru     0  Q-A-System/Test.tsv
2  Что ты хочешь получить от женщин?   ru     0  Q-A-System/Test.tsv
3        С чем связана моя щедрость?   ru     0  Q-A-System/Test.tsv
4                Много это или мало?   ru     1  Q-A-System/Test.tsv

In [ ]:
data7.head(88)

,sentence,lang,label,dataset
0,Что же такое S. M. A. R. T.?,ru,0,Q-A-System/Test.tsv
1,И почему стоит о нем знать?,ru,0,Q-A-System/Test.tsv
2,Что ты хочешь получить от женщин?,ru,0,Q-A-System/Test.tsv
3,С чем связана моя щедрость?,ru,0,Q-A-System/Test.tsv
4,Много это или мало?,ru,1,Q-A-System/Test.tsv
...,...,...,...,...
83,И как назначается медицинское обследование?,ru,0,Q-A-System/Test.tsv
84,И как долго мне придётся ждать результатов?,ru,0,Q-A-System/Test.tsv
85,В чем разница въезда невесты по иммиграционной...,ru,0,Q-A-System/Test.tsv
86,Где лучше выходить замуж - в России или в стра...,ru,1,Q-A-System/Test.tsv
87,Какие мне нужны документы для этого?,ru,0,Q-A-System/Test.tsv

In [ ]:
data7.loc[85] = ["В чем разница въезда невесты по иммиграционной визе К1?", "ru", 0, "Q-A-System/Test.tsv"]

In [ ]:
!git clone https://github.com/amazon-science/mintaka

Cloning into 'mintaka'...
remote: Enumerating objects: 39, done.
remote: Counting objects: 100% (39/39), done.
remote: Compressing objects: 100% (31/31), done.
remote: Total 39 (delta 16), reused 25 (delta 8), pack-reused 0
Unpacking objects: 100% (39/39), 7.53 MiB | 2.13 MiB/s, done.

In [ ]:
import pandas as pd

In [ ]:
data8 = pd.DataFrame(columns=['sentence', 'lang', 'label', 'dataset'])
data8

Empty DataFrame
Columns: [sentence, lang, label, dataset]
Index: []

In [ ]:
import json

In [ ]:
f = open('mintaka/data/mintaka_train.json')
data = json.load(f)
for i in range(len(data)):
    lab = data[i]['complexityType']
    if lab == 'comparative':
        l = 1
    else:
        l = 0
    #print(data[i])
    data8.loc[len(data8)] = [data[i]['question'], 'en', l, 'mintaka_train.json']
    #print(data[i]['question'])
    for j in data[i]['translations']:
        data8.loc[len(data8)] = [data[i]['translations'][j], j, l, 'mintaka_train.json']
        #print(j, data[i]['translations'][j])

In [ ]:
data8

,sentence,lang,label,dataset
0,What is the seventh tallest mountain in North ...,en,0,mintaka_train.json
1,ما سابع أعلى جبل في أمريكا الشمالية؟,ar,0,mintaka_train.json
2,Wie heißt der siebthöchste Berg Nordamerikas?,de,0,mintaka_train.json
3,北アメリカで七番目に高い山は何ですか？,ja,0,mintaka_train.json
4,उत्तर अमेरिका में सातवां सबसे लंबा पर्वत कौन स...,hi,0,mintaka_train.json
...,...,...,...,...
125995,सिकंदर महान की पहली पत्नी का निधन कहां हुआ था?,hi,0,mintaka_train.json
125996,"Onde morreu a primeira esposa de Alexandre, o ...",pt,0,mintaka_train.json
125997,¿Dónde murió la primer esposa de Alejandro Magno?,es,0,mintaka_train.json
125998,Dove morì la prima moglie di Alessandro Magno?,it,0,mintaka_train.json
125999,"Où, la première femme d’Alexandre le Grand est...",fr,0,mintaka_train.json

In [ ]:
data8.shape

(126000, 4)

In [ ]:
data8.to_csv( "/content/drive/MyDrive/diplom/mintaka_train.tsv", sep='\t', index=False)

In [ ]:
data9 = pd.DataFrame(columns=['sentence', 'lang', 'label', 'dataset'])
data9

Empty DataFrame
Columns: [sentence, lang, label, dataset]
Index: []

In [ ]:
f = open('mintaka/data/mintaka_test.json')
data = json.load(f)
for i in range(len(data)):
    lab = data[i]['complexityType']
    if lab == 'comparative':
        l = 1
    else:
        l = 0
    #print(lab)
    #print(data[i])
    data9.loc[len(data9)] = [data[i]['question'], 'en', l, 'mintaka_test.json']
    #print(data[i]['question'])
    for j in data[i]['translations']:
        data9.loc[len(data9)] = [data[i]['translations'][j], j, l, 'mintaka_test.json']
        #print(j, data[i]['translations'][j])

In [ ]:
data9.to_csv( "/content/drive/MyDrive/diplom/mintaka_test.tsv", sep='\t', index=False)

In [ ]:
data9.head(25)

,sentence,lang,label,dataset
0,What man was a famous American author and also...,en,0,mintaka_test.json
1,مَن الرجل الذي كان مؤلفًا أمريكيًا مشهورًا وعم...,ar,0,mintaka_test.json
2,Wer war ein berühmter amerikanischer Schriftst...,de,0,mintaka_test.json
3,アメリカの有名な作家でミシシッピ川の蒸気船のパイロットだった男は誰ですか？,ja,0,mintaka_test.json
4,प्रमुख अमेरिकन लेखक और साथ ही मिसिसिप्पी नदी म...,hi,0,mintaka_test.json
5,Qual homem foi um autor americano famoso e tam...,pt,0,mintaka_test.json
6,¿Qué hombre fue un autor famoso estadounidense...,es,0,mintaka_test.json
7,Chi fu un celebre autore americano e anche pil...,it,0,mintaka_test.json
8,Quel célèbre auteur américain était aussi pilo...,fr,0,mintaka_test.json
9,How many Academy Awards has Jake Gyllenhaal be...,en,0,mintaka_test.json
10,كم عدد جوائز الأوسكار التي ترشح لها الممثل جيك...,ar,0,mintaka_test.json
11,Für wie viele Oscars ist Jake Gyllenhaal nomin...,de,0,mintaka_test.json
12,ジェイクジレンホールがノミネートされたアカデミー賞の数はいくつですか？,ja,0,mintaka_test.json
13,जेक जिलेनहॉल कितने अकैडमी अवार्ड्स के लिए नामा...,hi,0,mintaka_test.json
14,Quantos prêmios de Academia Jake Gyllenhaal fo...,pt,0,mintaka_test.json
15,¿A cuántos premios de la Academia ha sido nomi...,es,0,mintaka_test.json
16,Quante candidature ha avuto Jake Gyllenhaal pe...,it,0,mintaka_test.json
17,Pour combien d’oscars Jake Gyllenhaal a-t-il é...,fr,0,mintaka_test.json
18,"Who is older, The Weeknd or Drake?",en,1,mintaka_test.json
19,أيهما أكبر سنًا، The Weeknd أم Drake؟,ar,1,mintaka_test.json
20,Wer ist älter: The Weeknd oder Drake?,de,1,mintaka_test.json
21,ウィークエンドとドレイク、どちらが年上ですか？,ja,1,mintaka_test.json
22,"उम्र में कौन बड़ा है, द वीकेंड या ड्रेक?",hi,1,mintaka_test.json
23,"Quem é mais velho, The Weekend ou Drake?",pt,1,mintaka_test.json
24,"¿Quién es mayor, The Weeknd o Drake?",es,1,mintaka_test.json

In [ ]:
data10 = pd.DataFrame(columns=['sentence', 'lang', 'label', 'dataset'])
data10

Empty DataFrame
Columns: [sentence, lang, label, dataset]
Index: []

In [ ]:
f = open('mintaka/data/mintaka_dev.json')
data = json.load(f)
for i in range(len(data)):
    lab = data[i]['complexityType']
    if lab == 'comparative':
        l = 1
    else:
        l = 0
    #print(data[i])
    data10.loc[len(data10)] = [data[i]['question'], 'en', l, 'mintaka_dev.json']
    #print(data[i]['question'])
    for j in data[i]['translations']:
        data10.loc[len(data10)] = [data[i]['translations'][j], j, l, 'mintaka_dev.json']
        #print(j, data[i]['translations'][j])

In [ ]:
data10.to_csv( "/content/drive/MyDrive/diplom/mintaka_dev.tsv", sep='\t', index=False)

In [ ]:
data10.head(100)

,sentence,lang,label,dataset
0,What is the fourth book in the Twilight series?,en,0,mintaka_dev.json
1,"ما عنوان الكتاب الرابع في سلسلة ""الشفق""؟",ar,0,mintaka_dev.json
2,Welches ist das vierte Buch in der Twilight-Sa...,de,0,mintaka_dev.json
3,トワイライトシリーズの四番目の本はなんですか？,ja,0,mintaka_dev.json
4,Twilight सीरीज की चौथी किताब कौन सी है?,hi,0,mintaka_dev.json
...,...,...,...,...
95,"Quem é mais velho, Morgan Freeman ou Anthony H...",pt,1,mintaka_dev.json
96,¿Cuál de los dos actores es mayor: Morgan Free...,es,1,mintaka_dev.json
97,"Chi è più grande, Morgan Freeman o Anthony Hop...",it,1,mintaka_dev.json
98,Qui est plus âgé : Morgan Freeman ou Anthony H...,fr,1,mintaka_dev.json
99,"Who is older, Anthony Hopkins or George Clooney?",en,1,mintaka_dev.json

In [ ]:
#READ

In [ ]:
data_8 = pd.read_csv('/content/drive/MyDrive/diplom/mintaka_train.tsv', sep="\t")
data_8

,sentence,lang,label,dataset
0,What is the seventh tallest mountain in North ...,en,NaN,mintaka_train.json
1,ما سابع أعلى جبل في أمريكا الشمالية؟,ar,NaN,mintaka_train.json
2,Wie heißt der siebthöchste Berg Nordamerikas?,de,NaN,mintaka_train.json
3,北アメリカで七番目に高い山は何ですか？,ja,NaN,mintaka_train.json
4,उत्तर अमेरिका में सातवां सबसे लंबा पर्वत कौन स...,hi,NaN,mintaka_train.json
...,...,...,...,...
125995,सिकंदर महान की पहली पत्नी का निधन कहां हुआ था?,hi,NaN,mintaka_train.json
125996,"Onde morreu a primeira esposa de Alexandre, o ...",pt,NaN,mintaka_train.json
125997,¿Dónde murió la primer esposa de Alejandro Magno?,es,NaN,mintaka_train.json
125998,Dove morì la prima moglie di Alessandro Magno?,it,NaN,mintaka_train.json
125999,"Où, la première femme d’Alexandre le Grand est...",fr,NaN,mintaka_train.json

In [ ]:
data_9 = pd.read_csv('/content/drive/MyDrive/diplom/mintaka_test.tsv', sep="\t")
data_9

,sentence,lang,label,dataset
0,What man was a famous American author and also...,en,NaN,mintaka_test.json
1,مَن الرجل الذي كان مؤلفًا أمريكيًا مشهورًا وعم...,ar,NaN,mintaka_test.json
2,Wer war ein berühmter amerikanischer Schriftst...,de,NaN,mintaka_test.json
3,アメリカの有名な作家でミシシッピ川の蒸気船のパイロットだった男は誰ですか？,ja,NaN,mintaka_test.json
4,प्रमुख अमेरिकन लेखक और साथ ही मिसिसिप्पी नदी म...,hi,NaN,mintaka_test.json
...,...,...,...,...
35995,इम्प्रेशंस गेम्स द्वारा विकसित सबसे पुराना सिट...,hi,NaN,mintaka_test.json
35996,Qual é o mais antigo jogo de simulação de cons...,pt,NaN,mintaka_test.json
35997,¿Cuál es el juego de edificios de ciudad más v...,es,NaN,mintaka_test.json
35998,Qual è il gioco meno recente della serie City ...,it,NaN,mintaka_test.json
35999,Quel est le plus ancien jeu de city building d...,fr,NaN,mintaka_test.json

In [ ]:
data_10 = pd.read_csv('/content/drive/MyDrive/diplom/mintaka_dev.tsv', sep="\t")
data_10

,sentence,lang,label,dataset
0,What is the fourth book in the Twilight series?,en,NaN,mintaka_dev.json
1,"ما عنوان الكتاب الرابع في سلسلة ""الشفق""؟",ar,NaN,mintaka_dev.json
2,Welches ist das vierte Buch in der Twilight-Sa...,de,NaN,mintaka_dev.json
3,トワイライトシリーズの四番目の本はなんですか？,ja,NaN,mintaka_dev.json
4,Twilight सीरीज की चौथी किताब कौन सी है?,hi,NaN,mintaka_dev.json
...,...,...,...,...
17995,सिटी वाच के बारे में पहली डिस्कवर्ल्ड क़िताब कौ...,hi,NaN,mintaka_dev.json
17996,Qual é o primeiro livro Discworld sobre a City...,pt,NaN,mintaka_dev.json
17997,¿Cuál es el primer libro de Mundodisco sobre l...,es,NaN,mintaka_dev.json
17998,Qual è il primo libro di Mondo Disco che tratt...,it,NaN,mintaka_dev.json
17999,Quel est le premier livre Discworld sur le Cit...,fr,NaN,mintaka_dev.json

In [ ]:
#COMBINED

In [ ]:
combined_csv = pd.concat([data1, data2, data3, data4, data5, data6, data7, data8, data9, data10], ignore_index = True)
#export to csv
combined_csv.to_csv( "/content/drive/MyDrive/diplom/multilingual_comparative_dataset.tsv", sep='\t', index=False)
combined_csv

,sentence,lang,label,dataset
0,'how old is megan prince harry''s wife',en,0,data_full.tsv
1,what are insurance requirements for florida dr...,en,0,data_full.tsv
2,What is the expected cutoff for the KVPY 2016?,en,0,data_full.tsv
3,what is the difference between a goal and an o...,en,1,data_full.tsv
4,Which laptop under INR 60K is slim sleek and g...,en,0,data_full.tsv
...,...,...,...,...
230036,सिटी वाच के बारे में पहली डिस्कवर्ल्ड क़िताब कौ...,hi,0,mintaka_dev.json
230037,Qual é o primeiro livro Discworld sobre a City...,pt,0,mintaka_dev.json
230038,¿Cuál es el primer libro de Mundodisco sobre l...,es,0,mintaka_dev.json
230039,Qual è il primo libro di Mondo Disco che tratt...,it,0,mintaka_dev.json
230040,Quel est le premier livre Discworld sur le Cit...,fr,0,mintaka_dev.json

In [ ]:
#COMBINED READ

In [ ]:
combined_tsv = pd.read_csv('/content/drive/MyDrive/diplom/multilingual_comparative_dataset.tsv', sep="\t")
combined_tsv

,sentence,lang,label,dataset
0,'how old is megan prince harry''s wife',en,0,data_full.tsv
1,what are insurance requirements for florida dr...,en,0,data_full.tsv
2,What is the expected cutoff for the KVPY 2016?,en,0,data_full.tsv
3,what is the difference between a goal and an o...,en,1,data_full.tsv
4,Which laptop under INR 60K is slim sleek and g...,en,0,data_full.tsv
...,...,...,...,...
214282,सिटी वाच के बारे में पहली डिस्कवर्ल्ड क़िताब कौ...,hi,0,mintaka_dev.json
214283,Qual é o primeiro livro Discworld sobre a City...,pt,0,mintaka_dev.json
214284,¿Cuál es el primer libro de Mundodisco sobre l...,es,0,mintaka_dev.json
214285,Qual è il primo libro di Mondo Disco che tratt...,it,0,mintaka_dev.json
214286,Quel est le premier livre Discworld sur le Cit...,fr,0,mintaka_dev.json

In [ ]:
combined_tsv.drop_duplicates(['sentence'], inplace=True)
combined_tsv

,sentence,lang,label,dataset
0,'how old is megan prince harry''s wife',en,0,data_full.tsv
1,what are insurance requirements for florida dr...,en,0,data_full.tsv
2,What is the expected cutoff for the KVPY 2016?,en,0,data_full.tsv
3,what is the difference between a goal and an o...,en,1,data_full.tsv
4,Which laptop under INR 60K is slim sleek and g...,en,0,data_full.tsv
...,...,...,...,...
230036,सिटी वाच के बारे में पहली डिस्कवर्ल्ड क़िताब कौ...,hi,0,mintaka_dev.json
230037,Qual é o primeiro livro Discworld sobre a City...,pt,0,mintaka_dev.json
230038,¿Cuál es el primer libro de Mundodisco sobre l...,es,0,mintaka_dev.json
230039,Qual è il primo libro di Mondo Disco che tratt...,it,0,mintaka_dev.json
230040,Quel est le premier livre Discworld sur le Cit...,fr,0,mintaka_dev.json

In [ ]:
# final save

combined_tsv.to_csv( "/content/drive/MyDrive/diplom/multilingual_comparative_dataset.tsv", sep='\t', index=False)

In [ ]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')